  <div class="bg-image"
     style="background-image: url(<%= asset_path 'DC.jpg' %>);
            height: 100vh">

<% flash.each do |type, msg| %>
  <br/>
  <% if type == "error" %>
    <div class="alert alert-danger container" style="text-align:center;" role="alert">
      <%= msg %>
    </div>
  <% elsif type == "notice" %>
    <div class="alert alert-success container" style="text-align:center;" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <br>
  <h1 style="color:white;">Welcome To VoiceMail</h1><br>
  <p>VoiceMail is an application designed with one simple purpose; sending physical mail to congressmen and congresswomen. \n
    Physical mail has been found to be by far and away the most effective form of communication with our representatives; \n
    as such, we've created this application to do just that.</p>
  <%= link_to (image_tag('https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png')), '/auth/google_oauth2', method: :get %>
</div>
</div>
