<div class="bg-image" 
     style="background-image: url(<%= asset_path 'DC.jpg' %>);
            height: 100vh">

<div class="text-center">
  <br>
  <h1 style="color:white;">Welcome To VoiceMail</h1><br>
  <%= link_to (image_tag('https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png')), '/auth/google_oauth2', method: :get %>
</div>
</div>