<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src=<%="#{@preview_url}"%> width="800px" height="700px" allowfullscreen></iframe>
</div>
Estimated Arrival Date: <%= @delivery_date %>
