<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://media.istockphoto.com/photos/first-person-point-of-view-of-a-woman-paddling-on-a-stand-up-paddle-picture-id1288844330" width="800px" height="700px" allowfullscreen></iframe>
</div>
<%= link_to 'Preview', fetch_preview_path, :remote => true %>
<%= @preview_url %>
